*{
    margin: 0%;
    padding: 0%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 30px;
}
h1, h2{
    font-family: 'Mitr', sans-serif;
    padding: 10px;
    margin: 5px;
}
p{
    font-family: 'Mitr', sans-serif;
    font-size: 20px;
    max-width:  55%;
}
.palavra-certa{
    margin: 5px;
    font-size: 25px;
}
#letras-erradas{
    font-size: 25px;
    margin: 10px;
}
img{
    width: 20%;
    padding: 10px;
    margin: auto;
}
button{
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
    background-color: rgb(182, 213, 240);
    border: 2px solid rgb(136, 161, 184);
    border-radius: 5px;
    font-family: 'Mitr', sans-serif;
    margin: 5px;
}